In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import dbfread

In [3]:
dbf = dbfread.DBF('../Datasets/taxi_zones.dbf')

In [4]:
df = pd.DataFrame(dbf)

In [5]:
df

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island
...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx
259,260,0.133514,0.000422,Woodside,260,Queens
260,261,0.027120,0.000034,World Trade Center,261,Manhattan
261,262,0.049064,0.000122,Yorkville East,262,Manhattan
262,263,0.037017,0.000066,Yorkville West,263,Manhattan

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    263 non-null    int64
 1   Shape_Leng  263 non-null    float64
 2   Shape_Area  263 non-null    float64
 3   zone        263 non-null    object
 4   LocationID  263 non-null    int64
 5   borough     263 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 12.5+ KB

In [7]:
# Obtener el conteo de nulos por columna de df
null_count = df.isnull().sum()

# Obtener el porcentaje de nulos por columna
null_percentage = (df.isnull().mean()) * 100

# Crear un nuevo DataFrame con la información de conteo y porcentaje
null_info = pd.DataFrame({
    'Nulos': null_count,
    'Porcentaje': null_percentage
})

# Imprimir el nuevo DataFrame
print(null_info)

            Nulos  Porcentaje
OBJECTID        0         0.0
Shape_Leng      0         0.0
Shape_Area      0         0.0
zone            0         0.0
LocationID      0         0.0
borough         0         0.0

In [8]:
df_taxi_zones = df

Este archivo contiene el Dataframe limpio de las zonas de taxis, puesto que el dataset estaba con todos los datos limpios y completos, no se hicieron modificaciones y se subira completo
1. df_taxi_zones

In [9]:
df_taxi_zones.to_csv('../Datasets/Clean Data/taxi_zones.csv', index=False)