In [8]:
import pandas as pd
import pymysql

In [9]:
df = pd.read_csv("../Datasets/reservas.csv")

In [10]:
df = df.drop(10)

In [11]:
df.columns

Index(['nombre_cliente', 'apellido_cliente', 'fecha_servicio', 'hora_servicio',
       'aeropuerto_llegada', 'zona_destino', 'num_pasajeros', 'placa',
       'confirmacion'],
      dtype='object')

In [15]:
# Datos para conectar a la DB
connection = pymysql.connect(
    # Variables para la DB
    host = 'byzuegyhogks28kbhbkn-mysql.services.clever-cloud.com',
    user = 'uqpk8ogwqurgzkhh',
    password = 'uXvAxUEyxLSo9dnvub27',
    db = 'byzuegyhogks28kbhbkn'
)

# Dropea una tabla si esta existe [[[Dropea la tabla si existe]]]
# Crear un cursor
cursor = connection.cursor()
create_table_query = '''
DROP TABLE IF EXISTS `byzuegyhogks28kbhbkn`.`reservas`
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()



# Crear un cursor   [[Crea la tabla]]]
cursor = connection.cursor()
# Crear una tabla en la DB
create_table_query = '''
CREATE TABLE `byzuegyhogks28kbhbkn`.`reservas` (
`nombre_cliente` VARCHAR(30), 
`apellido_cliente` VARCHAR(30),
`fecha_servicio` DATE,
`hora_servicio` TIME,
`aeropuerto_llegada` VARCHAR(10),
`zona_destino` VARCHAR(30),
`num_pasajeros` INT NOT NULL,
`placa` VARCHAR(10),
`confirmacion` INT NOT NULL ) ENGINE = InnoDB;;
'''
 # Ejecutar la consulta
cursor.execute(create_table_query)
# Confirmar los cambios
connection.commit()



# Mandar los datos a la DB [[Cargar DATA]]
cursor = connection.cursor()
for i, row in df.iterrows():
    sql = '''
    INSERT INTO `byzuegyhogks28kbhbkn`.`reservas` (
    `nombre_cliente` , 
    `apellido_cliente` ,
    `fecha_servicio` ,
    `hora_servicio` ,
    `aeropuerto_llegada` ,
    `zona_destino` ,
    `num_pasajeros` ,
    `placa`,
    `confirmacion` ) VALUES 
    (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    cursor.execute(sql, (row['nombre_cliente'], 
                         row['apellido_cliente'], row['fecha_servicio'], row['hora_servicio'], 
                         row['aeropuerto_llegada'], row['zona_destino'], row['num_pasajeros'], row['placa'], row['confirmacion']))

connection.commit()

# Cerrar la conexi√≥n
connection.close()